<h1>Artists</h1>
<hr>

<% @artists.each do |artist| %>
    <p> <%= link_to artist.artist_name, artist_path(artist.id) %> </p>
    <hr>
<% end %>
<%= link_to "Add Artist", new_artist_path, class: "btn btn-primary" %>
