<%= form_for [@artist, @artist.songs.new] do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'input' %>
  
  <!-- <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div> -->
<% end %>
