@import "bootstrap-sprockets";
@import "bootstrap";

* {
    font-family: 'PT Mono', monospace;
}

.btn-primary {
    background: rgb(59, 59, 59);
}

.carousel-inner {
    background-color: rgb(126, 120, 123);
}

.btn-danger {
    background: rgb(59, 59, 59);
}

input#new-song {
      display: block;
      width: 478px;
      border-radius: 3px;
      border: 1px solid #e6e6e6;
      padding: 10px;
      font-size: 18px;
    }
.remove-button {
  border: 1px solid black;
}
